img {
    max-width: 100%;
}

.with-chris {
    display: inline-block;
    vertical-align: top;
    font-size: 1rem!important;
}

form {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
form.secondary {
    background: none;
    padding: 0;
}

.tal {
    text-align: left;
}
.tar {
    text-align: right;
}

.masthead-bg {
    /* background-image: url(/assets/images/learn-testing/green-checkmark-round-opaque.png);
    background-size: 240px;
    background-repeat: no-repeat; */
}
