---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
layout: layout.njk
---

<h1 class="title">#{{ tag }}</h1>

<ol reversed>
{% set taglist = collections[ tag ] %}
{% for post in taglist %}
  <li class="post-item">
    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
  </li>
{% endfor %}
</ol>
