---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
layout: layout.njk
---

<h1 class="title">#{{ tag }}</h1>

<p class="no-share">
  <a class="tag" href="/tags/featured">#featured</a> <a class="tag" href="/tags/general">#general</a> <a class="tag" href="/tags/nodejs">#nodejs</a> <a class="tag" href="/tags/javascript">#javascript</a> <a class="tag" href="/tags/tutorial">#tutorial</a> <a class="tag" href="/tags/crypto">#crypto</a>
</p>

<ol reversed>
{% set taglist = collections[ tag ] %}
{% for post in taglist | reverse %}
  <li class="post-item">
    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
  </li>
{% endfor %}
</ol>
