---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
layout: layout.njk
---

<h1 class="title">#{{ tag }}</h1>

Browse by tag <a href="/tags/general">#general</a>, <a href="/tags/js">#js</a>, <a href="/tags/tut">#tut</a>, <a href="/tags/angularjs">#angularjs</a>, <a href="/tags/crypto">#crypto</a>

<ol reversed>
{% set taglist = collections[ tag ] %}
{% for post in taglist | reverse %}
  <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
{% endfor %}
</ol>