<footer>
  <div class="contain">
    <div class="l-box">
      <p>
        &copy; <a style="text-decoration: none;" href="https://creativecommons.org/licenses/by-nc-nd/4.0/">{% include 'img/license-base64.html' %}</a> Christian Fei 2012 - {{ '' | year }} <a aria-hidden="true" href="https://twitter.com/christian_fei"><i class="icon icon-twitter"></i></a> <a aria-hidden="true" href="https://github.com/christian-fei"><i class="icon icon-github"></i></a>
      </p>

      <p>
        {% if page.url != '/' and page.url != '/about/' %}
        <a target="_blank" rel="noreferrer" href="https://github.com/christian-fei/christian-fei.github.io/edit/master/{{ page.relativeSource }}">Edit this page on GitHub</a> - <small>{{ page.url }}</small>      </p>
        <br>
        {% endif %}
        <small>
          🍪&nbsp;No tracking on this site
        </small>
        <br>
        <small>
          If I helped you in any way, say it out loud <a href="https://twitter.com/christian_fei">on twitter</a>
        </small>
        <br>
        <small>
          images from <a href="https://unsplash.com">unsplash.com</a> - icons from <a href="https://icomoon.io">icomoon.io</a>
        </small>
        <br>
        <small>
          commit <a target="_blank" href="{{ '' | githubCommitDiffUrl }}">{{'' | commit}}</a>
        </small>
      </p>
    </div>
  </div>
</footer>