<footer id="footer" class="">
  <div class="contain">
    {% include 'subscribe-to-newsletter.html' %}

    <p><b>follow me</b> on <a href="https://twitter.com/christian_fei">twitter</a> and <a href="https://github.com/christian-fei">github</a></p>
    <p><b>connect with me</b> on <a href="https://www.linkedin.com/in/christian-fei-6b72b5123/">linkedin</a></p>

    <p>If I helped you in any way, <a href="https://www.paypal.me/christianfei">donations through Paypal are welcome!</a></p>

    {% if page.url != '/' and page.url != '/about/' %}
    <p>
      <a target="_blank" rel="noreferrer" href="https://github.com/christian-fei/christian-fei.github.io/edit/master/{{ page.relativeSource }}">Edit this page on GitHub</a> - <small>{{page.url}}</small>
    </p>
    {% endif %}


    <p>&copy; Christian Fei 2012 - {{ '' | year }}</p>

    <p>
      commit
      <small><a target="_blank" href="{{'' | githubCommitDiffUrl}}">{{'' | commit}}</a></small>
    </p>
    <p>
      icons from <a href="https://iconfinder.com">iconfinder.com</a>
    </p>
  </div>
</footer>