<header id="header">
  <div class="flex">
    <a href="/" class="flex-item flex-02 nav-link" style="margin-left: -0.5em; min-width: 15.5em;">
      {% include 'me-base64.html' %}
    </a>
    <a class="flex-item flex-02 tac nav-link {% if page.url.includes('/posts') %} active {% endif %}" href="/posts">
      posts
    </a>
    <a class="flex-item flex-02 tac nav-link {% if page.url.includes('/books') %} active {% endif %}" href="/books">
      <span class="no-mobile">📖</span> books
    </a>
    <a class="flex-item flex-02 tac nav-link {% if page.url.includes('/about') %} active {% endif %}" href="/about">
      about
    </a>
    <a class="flex-item flex-02 nav-link tac" target="_blank" href="https://twitter.com/christian_fei">
      {% include 'twitter.html' %}
    </a>
    <a class="flex-item flex-02 nav-link tac" target="_blank" href="https://github.com/christian-fei">
      {% include 'github.html' %}
    </a>
  </div>
</header>
