<nav class="contain no-bs">
  <a href="/" class="brand">
    cri.dev &nbsp; <img class="logo" src="/assets/images/cf4.64x64.png" alt="">
  </a>
  <div class="menu">
    <a class="tac nav-item  {% if page.url.includes('/about') %} active {% endif %}" href="/about/">
      about
    </a>
    <a class="tac nav-item no-mobile {% if page.url.includes('/archive') %} active {% endif %}" href="/archive/">
      archive
    </a>
    <a class="tac nav-item  {% if page.url.includes('/subscribe') %} active {% endif %}" href="/subscribe/">
      news
    </a>
    <a class=" tac nav-item no-mobile" href="/contributions/">
      <i class="icon icon-github"></i>
    </a>
    <a class=" tac nav-item" target="_blank" href="https://twitter.com/christian_fei">
      <i class="icon icon-twitter"></i>
    </a>
    <a class=" tac nav-item" target="_blank" href="/rss.xml">
      <i class="icon icon-rss"></i>
    </a>
  </div>
</nav>