---
title: Christian Fei's Blog
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta name="author" content="Christian Fei">

    {% if page.url == '/' %}
      <meta name="description" content="A blog about agile, programming, clean code, testing, javascript">
    {% else %}
      <meta name="description" content="{{ content | safe | striptags | excerpt }}">
    {% endif %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <meta name="theme-color" content="#FFFFFF">
    <meta name="msapplication-navbutton-color" content="#FFFFFF">
    <meta name="apple-mobile-web-app-status-bar-style" content="#FFFFFF">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@christian_fei">
    <meta name="twitter:creator" content="@christian_fei">
    {# <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet"> #}
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">
    {% set style %}
      {% include "style.css" %}
    {% endset %}
    {% set carbonads %}
      {% include "carbonads.css" %}
    {% endset %}

    <style>
      {{ style | cssmin | safe }}
    </style>
    {% if page.url != '/' and page.url != '/about/' %}
    <style>
      {{ carbonads | cssmin | safe }}
    </style>
    {% endif %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-57238829-1"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-57238829-1');</script>
  </head>
  <body>
    {% include "header.html" %}

    <main id="main">
      {{ content | safe }}
    </main>

    {% if page.url !== '/posts/' and page.url.includes('/posts/') %}
      {% include "comments.html" %}
    {% endif %}

    {% include "interest.html" %}

    {% include "footer.html" %}

    <script>{% include "share-paragraph.js" %}</script>

    {% if page.url != '/' %}
    <script type="text/javascript">{% include "main.js" %}</script>
    {% endif %}

    <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us17.list-manage.com","uuid":"eb2171be8b0477fcc18bf2686","lid":"b1423db254","uniqueMethods":true}) })</script>
  </body>
</html>