---
title: Christian Fei's Blog
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta name="author" content="Christian Fei">

    {% if page.url == '/' %}
      <meta name="description" content="A blog about agile, programming, clean code, testing, javascript">
    {% else %}
      <meta name="description" content="{{ content | safe | striptags | excerpt }}">
    {% endif %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <meta name="theme-color" content="#FFFFFF">
    <meta name="msapplication-navbutton-color" content="#FFFFFF">
    <meta name="apple-mobile-web-app-status-bar-style" content="#FFFFFF">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@christian_fei">
    <meta name="twitter:creator" content="@christian_fei">
    {# <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet"> #}
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">
    {% set style %}
      {% include "style.css" %}
    {% endset %}
    {% set carbonads %}
      {% include "carbonads.css" %}
    {% endset %}

    <style>
      {{ style | cssmin | safe }}
    </style>
    {% if page.url != '/' and page.url != '/about/' %}
    <style>
      {{ carbonads | cssmin | safe }}
    </style>
    {% endif %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-57238829-1"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-57238829-1');</script>
  </head>
  <body>
    <header>
      {% if page.url != '/' and page.url != '/about/' %}
      <div id="carbonads-container">
        <script async defer type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CK7DCK7I&placement=christianfeicom" id="_carbonads_js"></script>
      </div>
      {% endif %}
      <p>

      <p>
        <a href="/" class="main-link">
          {% include 'me-base64.html' %}
          <strong>christian fei's blog</strong>
        </a>
      </p>
      <p><strong>agile developer, clean code connoisseur && testing aficionado</strong></p>

      {% if page.url != '/about/' %}
      <p><b>read</b>&nbsp;<b>more</b> <a href="/about">about</a> me</p>
      {% endif %}
      {% if page.url != '/posts/' %}
      <p><b>read</b> through <a href="/posts">posts</a> that i wrote</p>
      {% endif %}
      <p><b>follow me</b> on <a href="https://twitter.com/christian_fei">twitter</a> and <a href="https://github.com/christian-fei">github</a></p>
    </header>

    <main id="main">{{ content | safe }}</main>

    <div>
      <h1 class="title" style="text-transform: uppercase">this could interest you</h1>
      {% for post in collections.featured %}
        {% if post.url !== page.url %}
        <h4>
          <a href="{{post.url}}">{{post.data.title}}</a>
        </h4>
        {% endif %}
      {% endfor %}
    </div>

    <footer id="footer" class="free">
      <div class="contain">
        <p><b>follow me</b> on <a href="https://twitter.com/christian_fei">twitter</a> and <a href="https://github.com/christian-fei">github</a></p>
        <p><b>connect with me</b> on <a href="https://www.linkedin.com/in/christian-fei-6b72b5123/">linkedin</a></p>

        {% if page.url != '/' and page.url != '/about/' %}
        <p>
          <a target="_blank" rel="noreferrer" href="https://github.com/christian-fei/christian-fei.github.io/edit/master/{{ page.inputPath }}">Edit this page on GitHub</a>
        </p>
        {% endif %}

        <p>&copy; Christian Fei 2012 - 2019</p>

        <p>
          <pre style="font-size: 0.7em; background: transparent;">{{ '' | changes }}</pre>
          <small><a target="_blank" href="https://github.com/christian-fei/christian-fei.github.io/commit/{{'' | commit}}">diff</a></small>
        </p>
      </div>
    </footer>

    <script>
      {% include "share-paragraph.js" %}
    </script>
    {% if page.url != '/' %}
    <script type="text/javascript">
      {% include "main.js" %}
    </script>
    {% endif %}

    <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us17.list-manage.com","uuid":"eb2171be8b0477fcc18bf2686","lid":"b1423db254","uniqueMethods":true}) })</script>
  </body>
</html>