---
title: Christian Fei's Blog
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Christian Fei's Blog - {{title}}</title>
    <meta name="author" content="Christian Fei">
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png"/>

    {% if page.url == '/' %}
      <meta name="description" content="A blog about agile, programming, clean code, testing, javascript">
    {% else %}
      <meta name="description" content="{{ content | safe | striptags | excerpt }}">
    {% endif %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">


    <meta name="theme-color" content="#FFFFFF">
    <meta name="msapplication-navbutton-color" content="#FFFFFF">
    <meta name="apple-mobile-web-app-status-bar-style" content="#FFFFFF">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@christian_fei">
    <meta name="twitter:creator" content="@christian_fei">


    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">
    {% set style %}
      {% include "style.css" %}
    {% endset %}
    <style>{{ style | cssmin | safe }}</style>

    {% if page.url != '/' and page.url != '/about/' %}
      {% set carbonads %}
        {% include "carbonads.css" %}
      {% endset %}
      <style>{{ carbonads | cssmin | safe }}</style>
    {% endif %}

    {% include "google-analytics.html" %}
  </head>
  <body>
    {% include "header.html" %}

    <main id="main">
      {{ content | safe }}
    </main>

    {% if page.url !== '/posts/' and page.url.includes('/posts/') %}
      {% include "comments.html" %}
    {% endif %}

    {% include "interest.html" %}

    {% include "footer.html" %}

    {% if page.url != '/' %}
      <script type="text/javascript">{% include "main.js" %}</script>
    {% endif %}
  </body>
</html>