{% extends 'layout.njk' %}

{% block content %}

<aside>
  {% include 'snippets/carbonads.html' %}

  <div class="no-mobile tac">
    <p>
      {% include 'snippets/tweet-this.html' %}
    </p>

    <p>
      {% include "snippets/buy-me-a-coffee.html" %}
    </p>

    <p>
      <a href="https://github.com/sponsors/christian-fei">Become a GitHub Sponsor ✌️</a>
    </p>

    <p>
      <a href="/contributions/">Contributions 📈</a>
    </p>
  </div>
</aside>

<article itemscope itemtype="http://schema.org/BlogPosting">
  <h1 class="title"  {% if page.data.image %}lazy="{{page.data.image}}"{% endif %}><span>{{ title }}</span></h1>

  <header>
    <p class="no-mobile">
      <a target="_blank" rel="noreferrer" href="https://github.com/christian-fei/christian-fei.github.io/edit/master/{{ page.relativeSource }}">Found a typo? Edit this page on GitHub</a>
    </p>

    <p>
      Written on &nbsp; <b>{{ page.data.date | isoday }}</b>
    </p>

    <p>
      {{ content | words }} words - {{ content | readingTime }} 🕜
    </p>
  </header>

  <div class="main-content">{{ content | safe }}</div>


  <h2>FEEDBACK <a href="https://twitter.com/christian_fei">@christian_fei</a></h2>

  {% include 'snippets/tweet-this-big.html' %}
</article>

{% endblock %}