---
layout: layout.njk
---

<article itemscope itemtype="http://schema.org/BlogPosting">
  <h1 class="title no-anchorify">{{ title }}</h1>
  <p class="no-share">
    written on {{ page.date.toISOString().substring(0, 10) }}
    by <a href="https://twitter.com/christian_fei">Christian Fei</a>
  </p>
  <p class="no-share">
    {%- for tag in tags -%}
      <a class="tag" href="/tags/{{ tag }}"><span>#{{ tag }}</span></a>&nbsp;
    {%- endfor -%}
  </p>
  <p class="no-share">
    <a href="https://twitter.com/share?url=https://christianfei.com{{page.url}}&ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a> this<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </p>
  {{ content | safe }}
  <p>
    <a href="https://twitter.com/share?url=https://christianfei.com{{page.url}}&ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a> this<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </p>
</article>
