{% extends 'layout.njk' %}

{% block content %}

<aside class="no-mobile tac">
  <div class="flex flex-wrap">
    <div class="no-mobile tac flex-item" style="min-width: 200px">
      {% include 'snippets/carbonads.html' %}
    </div>
    <br/>

    <div class="no-mobile tac flex-item" style="min-width: 200px">
      <p>
        If you liked this
        <br/>
        <br/>
        {% include 'snippets/tweet-this.html' %}
        <br/>
        <br/>
        Show some ♥️
      </p>
    </div>
    <div class="no-mobile tac flex-item" style="min-width: 200px">
      <a href="/about">
        <img class="avatar-image tac" alt="me with sunglasses" style="max-width: 64px; border-radius: 50%;" lazy="/assets/images/cf4.64x64.png"/>
      </a>
      <p>
        Follow <a class="bg" href="https://twitter.com/christian_fei">@christian_fei</a>
      </p>
    </div>
  </div>
</aside>

<article itemscope itemtype="http://schema.org/BlogPosting">
  <h1 class="title {% if page.data.image %} has-image {% endif %}"  {% if page.data.image %} lazy="{{ page.data.image }}"{% endif %}><span>{{ title }}</span></h1>

  <header class="flex flex-wrap">
    <div class="flex-item">
      <p class="no-mobile">
        <a target="_blank" rel="noreferrer" href="https://github.com/christian-fei/christian-fei.github.io/edit/master/{{ page.relativeSource }}">Found a typo? Edit this page on GitHub</a>
      </p>

      <p>
        Written on &nbsp; <b>{{ page.data.date | isoday }}</b> {% if page.data.updated %}<br>(<i>last updated {{ page.data.updated | isoday }}</i>) {% endif %}
      </p>

      {% if page.data.hackernews %}
        <a href="{{ page.data.hackernews }}">on HackerNews</a>
      {% endif %}

      <p>
        {{ content | words }} words - {{ content | readingTime }} 🕜
      </p>

      <p class="only-mobile">
        {% include 'snippets/tweet-this.html' %}
      </p>
    </div>
    <div class="flex-item only-mobile1">
      <p style="font-size: 1.15em">
        Get the latest on clean code, node.js, testing and more
        <br/>
        <a class="dib" target="_blank" href="https://buttondown.email/christianfei">
          Subscribe to my newsletter!
        </a>
      </p>
    </div>
  </header>

  <div class="main-content">{{ content | safe }}</div>

  <h2>FEEDBACK <a href="https://twitter.com/christian_fei">@christian_fei</a></h2>

  {% include 'snippets/tweet-this-big.html' %}

  {% include 'subscribe-to-newsletter.html' %}
</article>

{% endblock %}
