/* layout */
* { box-sizing: border-box; }
html, body { min-height: 100%; min-height: 100vh; margin: 0; padding: 0; }
body { padding: 0.5em; }
body > *:not(.free) { max-width: 40em; margin: 0 auto; }
.contain { max-width: 40em; margin: 0 auto; }
img { max-width: 100%; }
#avatar { width: 4em; height: 4em; border-radius: 50%; }
.post-item { position: relative; }
.post-date { position: absolute; right: 0; font-family: monospace; }
@media all and (max-width: 60em) { .post-date { display: none; } }

/* design */
#footer { background: #f9f9f9; padding-top: 1em; padding-bottom: 1em; background: linear-gradient(0deg, #f3f3f3, white); }

img {
  -webkit-box-shadow: 0.1em 0.1em 0.7em 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    0.1em 0.1em 0.7em 0px rgba(50, 50, 50, 0.3);
  box-shadow:         0.1em 0.1em 0.7em 0px rgba(50, 50, 50, 0.3);
}

/* typography */
html, body { font-size: 22px; font-weight: 400; line-height: 1.45; }
@media all and (max-width: 40em) { html, body { font-size: 20px; } }
html, body { font-family: Menlo, 'Courier New', Courier, Inconsolata, monospace; }
html, body { font-family: 'Raleway', sans-serif; }
#footer { margin-top: 4em; }
::-moz-selection { background: #fe1; }
::selection { background: #fe1; }
a { color: inherit; }
a:visited { color: inherit; }
a:hover, a:active, a:focus { background: #fe1; }
pre, code { overflow: scroll; background: #fffabd; }
ul { padding-left: 1em; }
/* h1, h2, h3 { margin-top: 0; } */
/* https://type-scale.com/ */
/* p { margin: 0 0 1.25em; } */
h1, h2, h3, h4, h5 { margin: 2.75rem 0 1rem; font-weight: 700; line-height: 1.15; }
h1 { margin-top: 0; font-size: 2.488em; }
h1 { margin-top: 0; font-size: 2.7em; }
h2 { font-size: 2.074em; }
h3 { font-size: 1.728em; }
h4 { font-size: 1.44em; }
h5 { font-size: 1.2em; }
small, .text_small { font-size: 0.833em; }

.title {
  margin-top: 1em;
  /* border-bottom: 0.2em solid #fe1; */
}

.tags {
  overflow-x: scroll;
}
.tag {
  background-color: #ececec;
  border-radius: 22px;
  padding: 0.2em 0.4em;
}
.share-paragraph-hover {
  position: relative;
}
.share-paragraph-hover .share-paragraph {
  /* display: none; */
  font-size: 1em;
  transition: all .3s ease;
  position: absolute;
  text-decoration: underline;
  right: 0;
  bottom: -0.5em;
  opacity: 0;
}
.share-paragraph-hover:hover .share-paragraph {
  display: inline-block;
  right: 0.5em;
  bottom: -1.3em;
  opacity: 0.5;
}
.share-paragraph-hover:hover .share-paragraph:hover {
  opacity: 1;
}

input.searchable-input {
  display: block;
  font-size: 0.9rem;
  padding: 0.75em;
  width: 14em;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #210;
  position: relative;
  transition: all .3s ease;
}
input.searchable-input:focus {
  background: #f1f0f0;
  background: #f1f0f0aa;
  width: 20em;
}

.main-link {
  vertical-align: middle;
  text-decoration: none;
  border-bottom: 0.2em solid #fe1;
}

/* extreme */
/*
strong, b {
  background: #ffee1142;
}
*/

.newsletter {
  max-width: 90%;
  text-align: center;
  transform: rotate(-1deg);
  padding: 1em 0.5em;
  margin: 0 auto;
  background: #fe1;
  /* background: rgba(255, 238, 17, 0.9); */
  margin-top: 2em;
  margin-bottom: 2em;
}
.newsletter.black {
  background: black;
  color: white;
}
.newsletter.black .background-white {
  color: black;
}

.newsletter.black #mc-embedded-subscribe {
  background: white;
  color: black;
}
.background-white {
  background: white;
}
.dib {
  display: inline-block;
}
.pad1 {
  padding: 0.1em;
}
#mce-EMAIL {
  border: none;
  padding: 0.4em;
  padding-left: 0.7em;
  width: 270px;
  font-size: 1rem;
}
#mc-embedded-subscribe {
  font-size: 1rem;
  display: inline-block;
  outline: none;
  border: none;
  background: black;
  color: white;
  padding: 0.4rem .5rem;
  vertical-align: bottom;
}


.no-margin {
  margin: 0;
}
.no-margin-top {
  margin-top: 0;
}

blockquote {
  background: #ffee1130;
  font-size: 1.1em;
  font-style: italic;
}
.utterances {
  width: 100% !important;
  max-width: 100% !important;
}

.float-right {
  float: right;
}