/* layout */
html, body { min-height: 100%; min-height: 100vh; }
body { padding: 0.5em 1em; }
body > header { max-width: 45em; margin: 0 auto; overflow: hidden; }
body > main { max-width: 45em; margin: 0 auto; }
body > footer { max-width: 45em; margin: 0 auto; }
img { max-width: 100%; }
#avatar { width: 4em; height: 4em; border-radius: 50%; }
.post-item { position: relative; }
.post-date { position: absolute; right: 0; }
@media all and (max-width: 60em) { .post-date { display: none; } }

/* typography */
html, body { font-size: 20px; font-weight: 400; line-height: 1.45; }
@media all and (max-width: 45em) { html, body { font-size: 16px; } }
html, body { font-family: Menlo, 'Courier New', Courier, Inconsolata, monospace; }
::-moz-selection { background: #fe1; }
::selection { background: #fe1; }
a { color: inherit; }
a:visited { color: inherit; }
a:hover, a:active, a:focus { background: #fe1; }
pre, code { overflow: scroll; background: #fffabd; }
ul { padding-left: 0.1em; }
/* h1, h2, h3 { margin-top: 0; } */
/* https://type-scale.com/ */
p { margin-bottom: 1.25em; }
h1, h2, h3, h4, h5 { margin: 2.75rem 0 1rem; font-weight: 400; line-height: 1.15; }
h1 { margin-top: 0; font-size: 2.488em; }
h2 { font-size: 2.074em; }
h3 { font-size: 1.728em; }
h4 { font-size: 1.44em; }
h5 { font-size: 1.2em; }
small, .text_small { font-size: 0.833em; }

.title {
  margin-top: 1em;
  border-bottom: 0.2em solid #fe1;
}

.share-paragraph-hover {
  position: relative;
}
.share-paragraph-hover .share-paragraph {
  /* display: none; */
  font-size: 1em;
  transition: all .3s ease;
  position: absolute;
  text-decoration: underline;
  right: 0;
  bottom: -0.5em;
  opacity: 0;
}
.share-paragraph-hover:hover .share-paragraph {
  display: inline-block;
  right: 0.5em;
  bottom: -1.3em;
  opacity: 0.5;
}
.share-paragraph-hover:hover .share-paragraph:hover {
  opacity: 1;
}

input.searchable-input {
  display: block;
  font-size: 0.9rem;
  padding: 0.75em;
  width: 14em;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #210;
  position: relative;
  transition: all .3s ease;
}
input.searchable-input:focus {
  background: #f1f0f0;
  background: #f1f0f0aa;
  width: 20em;
}

.main-link {
  vertical-align: middle;
  text-decoration: none;
  border-bottom: 0.2em solid #fe1;
}

/* extreme */
/*
strong, b {
  background: #ffee1142;
}
*/