/* layout */
*, *::after, *::before { box-sizing: border-box; }
html, body { min-height: 100%; min-height: 100vh; margin: 0; padding: 0; }
body > *:not(.free) { max-width: 40em; margin: 0 auto; padding: 0.5em; }
body > h1, h2, h3, h4 { text-align: center; }
.contain { max-width: 40em; margin: 0 auto; }
img { max-width: 100%; }
#avatar { width: 1.5em; height: 1.5em; border-radius: 50%; margin-bottom: -0.3+5em; margin-right: 0.5em; }
.post-item { position: relative; padding: 0.7em 0; }
.post-date { position: absolute; right: 0; }
@media all and (max-width: 60em) { .post-date { display: none; } }

/* design */
#footer { background: #f9f9f9; padding-left: 0.5em; padding-right: 0.5em; padding-top: 1em; padding-bottom: 1em; background: linear-gradient(0deg, #f3f3f3, white); }

article img { box-shadow: 0.1em 0.1em 0.7em 0px rgba(50, 50, 50, 0.3); }

/* typography */
html, body { font-size: 22px; font-weight: 400; line-height: 1.45; }
@media all and (max-width: 40em) { html, body { font-size: 20px; } }
html, body { font-family: Menlo, 'Courier New', Courier, Inconsolata, monospace; }
html, body { font-family: 'Raleway', sans-serif; }
#footer { margin-top: 4em; }
::selection { background: #fe1; }
a { color: inherit; }
a:visited { color: inherit; }
a:hover, a:active, a:focus { background: #fe1; outline: none; }
pre { overflow-x: scroll; }
pre, code { background: #ffee11; background: #ffee1199; }
pre code { background: none; }
pre ::selection {
  color: white;
  background: #000;
}
ul { padding-left: 1em; }
/* https://type-scale.com/ */
h1, h2, h3, h4, h5 { margin: 2.75rem 0 1rem; font-weight: 700; line-height: 1.15; }
h1 { margin-top: 0; font-size: 2.488em; }
h1 { margin-top: 0; font-size: 2.7em; }
h2 { font-size: 2.074em; }
h3 { font-size: 1.728em; }
h4 { font-size: 1.44em; }
h5 { font-size: 1.2em; }
small, .text_small { font-size: 0.833em; }

.nav-link {
  padding: 0.25em 0.5em;
  text-decoration: none;
  display: inline-block;
  border-bottom: 3px solid transparent;
  transition: border-bottom .3s ease-out;
 }
.nav-link:hover, .nav-link:active, .nav-link:focus {
  background: none;
  outline: none;
  border-bottom: 3px solid #fe1;
}

/* .title { margin-top: 1em } */

.tags { overflow-x: scroll }
.tag { background-color: #ececec;  padding: 0.2em 0.5em; opacity: 0.7; }


input.searchable-input {
  display: block;
  font-size: 0.9rem;
  padding: 0.75em;
  width: 14em;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #210;
  position: relative;
  transition: all .3s ease;
  /* background: #f1f0f0aa; */
  width: 100%;
}
input.searchable-input:focus { background: #f1f0f0aa; }


a { font-weight: bold }
blockquote { background: #f1f0f0aa; font-size: 1.1em; font-style: italic; }
.utterances { width: 100% !important; max-width: 100% !important; }


.flex { display: flex; flex-direction: row; }
.flex-item { flex: 1; }
.flex-01 { flex: 0.1; }
.flex-02 { flex: 0.2; }
.flex-03 { flex: 0.3; }
.flex-05 { flex: 0.5; }

.pad-v {
  padding-top: 2em;
  padding-bottom: 2em;
}

main article .title {
  /* text-align: end; */
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

/* .title span { background: #fe1 } */
.bg { background: #fe1 }
.light { opacity: 0.5; }
.tac {text-align: center;}
.tar {text-align: right;}
.tdn {text-decoration: none;}
.ovs {overflow-x: scroll; }

.alert {
  background: #fe1;
  padding: 1em 1em;
}

.featured-post {
  min-width: 400px;
  height: 200px;
  background-size: cover;
  text-align: center;
  position: relative;
  transition: all 0.3s ease;
}
.featured-post .post-title {
  font-size: 1.1em;
  text-decoration: none !important;
  background-color: white;
  padding: 0.2em;
  margin-top: 1em;
}
.featured-post .post-date {
  position: absolute;
  background-color: white;
  bottom: 0.5em;
  right: 0.5em;
}

.featured-post:hover {
  background-color: white;;
  background-size: cover;
  transform: scale(1.1) rotateZ(-2deg);
  z-index: 9000;
}

.icon {
  display: inline-block;
  width: 1.275rem;
  height: 1.275rem;
}