/* layout */
*, *::after, *::before { box-sizing: border-box; }
html, body { min-height: 100%; min-height: 100vh; margin: 0; padding: 0; }

body > * { max-width: 40em; margin: 0 auto; padding: 0.5em; }

.contain { max-width: 40em; margin: 0 auto; }
img { max-width: 100%; }
#avatar { width: 1.5em; height: 1.5em; border-radius: 50%; margin-bottom: -0.3+5em; margin-right: 0.5em; }
.post-item { position: relative; padding: 0.7em 0; }
.post-date { position: absolute; right: 0; }
.post-link { width: 85%; display: block; }
@media all and (max-width: 60em) { .post-date { display: none; } }


.nav-link {
  padding: 0.25em 0.5em;
  text-decoration: none;
  display: inline-block;
  border-bottom: 3px solid transparent;
  transition: border-bottom .3s ease-out;
}
.nav-link.active,
.nav-link:hover, .nav-link:active, .nav-link:focus {
  background: none;
  outline: none;
  border-bottom: 3px solid #fe1;
}

.tags { overflow-x: scroll }
.tag { padding: 0.2em 0.5em; opacity: 0.7; }
.tag:first-of-type { padding-left: 0em; }

main article .title { padding-top: 0.2em; padding-bottom: 0.2em; }

#footer { padding-left: 0.5em; padding-right: 0.5em; padding-top: 1em; padding-bottom: 1em;  }

.pad-v { padding-top: 2em; padding-bottom: 2em; }




.alert { background: #fe1; padding: 1em 1em; }

.featured-post {
  min-width: 400px;
  height: 250px;
  background-size: cover;
  text-align: center;
  position: relative;
  transition: all 0.3s ease;
  padding: 0.5em;
  display: block;
}
.featured-post .post-title {
  font-size: 1.1em;
  text-decoration: none !important;
  background-color: white;
  padding: 0.2em;
  margin-top: 1em;
}
.featured-post .post-date {
  position: absolute;
  background-color: white;
  bottom: 0.5em;
  right: 0.5em;
}

.featured-post:hover {
  background-color: white;;
  background-size: cover;
  transform: scale(1.05);
  z-index: 9000;
}

.icon { display: inline-block; width: 1.275rem; height: 1.275rem; }


.flex { display: flex; flex-direction: row; }
.flex-item { flex: 1; }
.flex-01 { flex: 0.1; }
.flex-02 { flex: 0.2; }
.flex-03 { flex: 0.3; }
.flex-05 { flex: 0.5; }


.tac { text-align: center; }
.tacb { display: block; margin: 0 auto; }
.ovs { overflow-x: scroll; }
.ovh-s { overflow-x: scroll; overflow-y: hidden; }