/* layout */
*, *::after, *::before { box-sizing: border-box; }
html, body { min-height: 100%; min-height: 100vh; margin: 0; padding: 0; }

body > header { max-width: 50em; margin: 0 auto; padding: 0.5em; }
body > header {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9000;
  background: white;
}
body > footer { max-width: 50em; margin: 0 auto; padding: 0.5em; }
body > main { max-width: 50em; margin: 0 auto; padding: 0.5em; }

.contain { max-width: 50em; margin: 0 auto; }
img { max-width: 100%; }
video { max-width: 100%; }

#avatar {
  width: 1.5em; height: 1.5em; border-radius: 50%; margin-bottom: -0.3+5em; margin-right: 0.5em;
  max-width: none;
}
.post-item { position: relative; padding: 0.7em 0; }
.post-item:nth-child(2n) { background: ghostwhite; }
.post-date { position: absolute; right: 0; }
.post-link { width: 85%; display: block; }
@media all and (max-width: 60em) { .post-date { display: none; } }


.nav-link {
  padding: 0.25em 0.5em;
  text-decoration: none;
  display: inline-block;
  border-bottom: 3px solid transparent;
  transition: border-bottom .3s ease-out;
}
.nav-link.active,
.nav-link:hover, .nav-link:active, .nav-link:focus {
  background: none;
  outline: none;
  border-bottom: 3px solid #fe1;
}

.tags { overflow-x: scroll }
.tag { padding: 0.2em 0.5em; opacity: 0.7; }
.tag:first-of-type { padding-left: 0em; }

main article .title { padding-top: 0.2em; padding-bottom: 0.2em; }
main article header {
  background: #f6f4f0;
  border-radius: 5px;
  padding: 1em;
  overflow: hidden;
}
#footer { padding-left: 0.5em; padding-right: 0.5em; padding-top: 1em; padding-bottom: 1em;  }

.pad { padding: 1em; }
.pad-half { padding: 0.5em; }
.pad-v { padding-top: 2em; padding-bottom: 2em; }




.alert { background: #fe1; padding: 1em 1em; }

.featured-post {
  min-width: 320px;
  height: 180px;
  background-size: cover !important;
  text-align: center;
  position: relative;
  transition: all 0.3s ease;
  padding: 0.5em;
  display: block;
  background-position: center;
  border-bottom: 10px solid white;
}
.featured-post:hover {
  border-bottom: 10px solid #fe1;
}
.featured-post .post-title {
  text-decoration: none !important;
  background-color: white;
  padding: 0.2em;
  margin-top: 1em;
}
.featured-post .post-date {
  position: absolute;
  background-color: white;
  bottom: 0.5em;
  right: 0.5em;
}

.featured-post:hover {
  background-color: white;;
  /* transform: scale(1.05); */
  background-position: top;
  z-index: 9000;
}

.icon { display: inline-block; width: 1.275rem; height: 1.275rem; max-width: none; }


.flex { display: flex; flex-direction: row; }
.flex-wrap { flex-wrap: wrap; }
.flex-item { flex: 1; }
.flex-01 { flex: 0.1; }
.flex-02 { flex: 0.2; }
.flex-03 { flex: 0.3; }
.flex-05 { flex: 0.5; }

.no-mt { margin-top: 0; }

.tac { text-align: center; }
.block-tac { margin: 0 auto; display: block; }
.tacb { display: block; margin: 0 auto; }
.ovs { overflow-x: scroll; }
.ovh-s { overflow-x: scroll; overflow-y: hidden; }

ul, ol {
  padding-left: 0;
  margin-left: 0;
  padding-left: 3.6em;
}
.amazon-book-preview {
  max-width: 120px;
}
.book {
  min-width: 200px;
  height: 200px;
}

.book:nth-child(1) { background: azure; }
.book:nth-child(2) { background: papayawhip; }
.book:nth-child(3) { background: aliceblue; }
.book:nth-child(4) { background: blanchedalmond; }
.book:nth-child(5) { background: cornsilk; }
.book:nth-child(6) { background: thistle; }
.book:nth-child(7) { background: lavender; }
.book:nth-child(8) { background: mintcream; }
.book:nth-child(9) { background: snow; }

@media all and (max-width: 40em) {
  .no-mobile { display: none; }
}
@media all and (min-width: 40em) {
  .only-mobile { display: none; }
}

.cf {
  text-align: center;
  padding: 1em;
}