<form
  action="https://buttondown.email/api/emails/embed-subscribe/christianfei"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/christianfei', 'popupwindow')"
  class="embeddable-buttondown-form"
>

  <h3 style="margin-top: 0.3em;"><a href="/subscribe/">Subscribe to my newsletter</a></h3>

  <p>
    Bi-weekly email to stay up to date with #nodejs #agile #testing #refactoring #cleancode
  </p>

  <label for="bd-email">Enter your email to subscribe to my newsletter</label>
  <input type="email" name="email" id="bd-email" placeholder="your@email.com">
  <input type="hidden" value="1" name="embed"></input>
  <button type="submit">Subscribe</Button>
</form>