<form
  action="https://buttondown.email/api/emails/embed-subscribe/christianfei"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/christianfei', 'popupwindow')"
  class="embeddable-buttondown-form">
  <p class="tac">
    <b>Bi-weekly newsletter</b> to stay up to date with #elixir #nodejs #agile #testing #refactoring #cleancode
  </p>
  <p class="tac">
    <label for="bd-email">Email</label>
    <input type="email" name="email" id="bd-email" placeholder="elon@tesla.com">
    <input type="hidden" value="1" name="embed"></input>
    <button type="submit">Subscribe</Button>
  </p>
</form>