<div class="subscribe-slidein" style="display: none;">
  <p style="margin-top: 0" class="tar close-subscribe-slidein track-close-subscribe-slidein">[x]</p>
  <p>
    </b>Get a free copy of my ebook<br>"Techniques to improve SEO"<b>
  </p>
  <form
    action="https://buttondown.email/api/emails/embed-subscribe/christianfei"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/christianfei', 'popupwindow')"
    class="embeddable-buttondown-form-slim">
      <span>👉&nbsp;</span>
      <input type="email" name="email" id="bd-email" placeholder="elon@tesla.com"/>
      <input type="hidden" value="1" name="embed"/>
      <button type="submit">Join <b>{{collections.subscribers.length}}</b> subscribers!</button>
  </form>
  <p>
    I write on this blog quite frequently, covering topics like Programming, DIY, Node.js & JavaScript and more
  </p>
</div>
