/* SEARCH */
input.searchable-input {
  display: block;
  font-size: 1.1rem;
  padding: 1.5em;
  width: 14em;
  max-width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #210;
  position: relative;
  width: 100%;
  animation: grow .5s;
}
input.searchable-input:focus { background: #f1f0f0aa; }

@keyframes grow {
  from {
    height: 0;
    padding: 0;
  }
  to {
    height: auto;
    padding: 1.5em;
  }
}