.dib { display: inline-block; }

.no-mt { margin-top: 0; }
.mt, .mt1 { margin-top: 1em; }
.mt2 { margin-top: 2em; }
.mt3 { margin-top: 3em; }
.mt4 { margin-top: 4em; }
.mt5 { margin-top: 5em; }

.pad { padding: 1em; }
.pad-half { padding: 0.5em; }
.pad-v { padding-top: 2em; padding-bottom: 2em; }



.tac { text-align: center; }
.block-tac { margin: 0 auto; display: block; }
.tacb { display: block; margin: 0 auto; }
.ovs { overflow-x: scroll; }
.ovh-s { overflow-x: scroll; overflow-y: hidden; }


.cta {
  background-color: #fe1;
  padding: 0.1em 0.4em;
  display: inline-block;
}

.dib {
  display: inline-block;
}
.db {
  display: block;
}

.no-shadow { box-shadow: none; }

nav.is-fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}




.flex { display: flex; flex-direction: row; }
.flex-wrap { flex-wrap: wrap; }
.flex-item { flex: 1; }

.flex {
  display: -ms-flexbox;
  display: flex;
  margin-left: -.6em;
  width: calc(100% + .6em);
  flex-wrap: wrap;
}

.flex>* {
  box-sizing: border-box;
  flex: 1;
  padding-left: .6em;
  padding-bottom: .6em
}

.flex[class*="one"]>*, .flex[class*="two"]>*, .flex[class*="three"]>*, .flex[class*="four"]>*, .flex[class*="five"]>*, .flex[class*="six"]>*, .flex[class*="seven"]>*, .flex[class*="eight"]>*, .flex[class*="nine"]>*, .flex[class*="ten"]>*, .flex[class*="eleven"]>*, .flex[class*="twelve"]>* {
  flex-grow: 0
}

.flex.grow>* {
  flex-grow: 1
}

.center {
  justify-content: center
}
@media all and (min-width: 1024px) {
  .full {
    width: 100%
  }

  .half {
    width: 50%
  }

  .third {
    width: 33.33333%
  }

  .two-third {
    width: 66.66666%
  }

  .fourth {
    width: 25%
  }

  .three-fourth {
    width: 75%
  }

  .fifth {
    width: 20%
  }

  .two-fifth {
    width: 40%
  }

  .three-fifth {
    width: 60%
  }

  .four-fifth {
    width: 80%
  }

  .sixth {
    width: 16.66666%
  }
}





