.posts {
  flex-wrap: wrap;
  flex-direction: row;
  scroll-snap-type: x mandatory;
}
.post-item {
  scroll-snap-align: center;
  position: relative;
  padding: 0.7em 0;
  overflow: hidden;
  background-size: cover;
  background-color: #fff;
  text-decoration: none;
  box-shadow: 0 12px 49px 20px rgba(34,56,101,.1);
  border-radius: .5em;
  transition: all .3s ease;
}
.post-item:hover {
  background-size: cover;
  background-color: inherit;
  transform: scale(1.02) rotateZ(-2deg);
}
.post-item {
  height: 14em;
  min-width: 20em;
  padding: 0.5em;
  margin: 0.5em;
}
.post-item .excerpt {
  overflow: scroll;
  max-height: 7em;
  font-size: 0.8em;
}
@media all and (max-width: 50em) {
  .post-date { display: none; }
  .post-item { padding-right: 0; }
}



main article img { box-shadow: 0.1em 0.1em 0.7em 0px rgba(50, 50, 50, 0.3); }
main article .title {
  margin: 0;
  background-color: #fe1;
  padding: 0.6em;
}
main article .title span {
  background-color: #fff;
  line-height: 1.6;
  transform: rotate(-1.2deg);
  display: block;
}

@media all and (max-width: 40em) {
  main article .title span { font-size: 1.1em; }
}




body > main.post article { max-width: 40em; }
body > main.post article header {
  font-size:  0.8rem;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  margin-top: 1em;
  margin-bottom: 1em;
}
body > main.post aside { font-size: 0.8rem; padding: 0.6em; }


@media all and (min-width: 70em) {
  body > main.post {
    display: grid;
    grid-template-columns: 11em auto;
    grid-column-gap: 0.5em;
    grid-template-areas: "sidebar main";
    max-width: 50em;
  }
  body > main.post article { grid-area: main; }
  body > main.post aside { grid-area: sidebar; }
}

article.preview {
  margin-top: 5em;
}