.featured-post {
  min-width: 400px;
  height: 250px;
  background-size: cover !important;
  text-align: center;
  position: relative;
  transition: all 0.3s ease;
  padding: 0.5em;
  display: block;
  background-position: center;
  border-bottom: 10px solid white;
}
.featured-post:hover {
  border-bottom: 10px solid #fe1;
  transform: scale(1.02);
}
.featured-post .post-title {
  text-decoration: none!important;
  background-color: rgba(255,255,255,.9);
  color: #333;
  padding: .3em;
  margin-top: 9.7em;
}
.featured-post .post-date {
  position: absolute;
  background-color: white;
  color: #333;
  bottom: 0.5em;
  right: 0.5em;
}

.featured-post:hover {
  background-color: white;;
  background-position: top;
  z-index: 9000;
}
