.featured-post {
  min-width: 300px;
  height: 200px;
  background-size: cover !important;
  text-align: center;
  position: relative;
  padding: 0.25em;
  display: block;
  background-position: center;
  border-bottom: 10px solid transparent;
}
.featured-post:hover {
  background-position: center;
  border-bottom: 10px solid #6f6f6f;
  transform: scale(1.03) rotateZ(-1deg);
}
.featured-post .post-title {
  text-decoration: none!important;
  background-color: rgba(255,255,255,.9);
  color: #333;
  padding: .3em;
  margin-top: 9.7em;
}
.featured-post .post-date {
  position: absolute;
  background-color: white;
  color: #333;
  bottom: 0.5em;
  right: 0.5em;
}
.featured-post:hover {
  background-color: white;
  /* background-position: top; */
  z-index: 9000;
}
