.dib { display: inline-block }
.db { display: block }

.pad { padding: 1em; }
.pad-half { padding: 0.5em; }
.pad-v { padding-top: 2em; padding-bottom: 2em; }

.tac { text-align: center; }
.tal { text-align: left; }
.vam { vertical-align: middle; }
.block-tac { margin: 0 auto; display: block; }
.tacb { display: block; margin: 0 auto; }
.ovs { overflow-x: scroll; }
.ovh-s { overflow-x: scroll; overflow-y: hidden; }

.cta {
  border: 2px solid #6f6f6f;
  padding: 0.1em 0.4em;
  display: inline-block;
}

