
/* @import url('/fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap'); */

html, body { font-size: 20px; font-weight: 300; line-height: 1.45; }
@media all and (max-width: 45em) { html, body { font-size: 17px; } }
html, body {
  font-family: 'Quicksand', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-weight: 400;
  line-height: 1.65;
}
#footer { margin-top: 4em; }
::selection { background: #fe1; }
a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  position: relative;
  transition: all .3s ease-in-out;
}
a:visited { color: inherit; }
a:hover, a:active, a:focus {
  background: #fe1;
  outline: none;
}
.dark-mode a:hover, a:active, a:focus {
  background: #9e9e9e;
}
a:hover:after, a:active:after, a:focus:after {
  background-color: transparent !important;
}
a:not(.featured-post):not(.nav-link):not(.no-underline):after {
  display: inline-block;
  height: 2px;
  content: "";
  position: absolute;
  width: 100%;
  bottom: -2px;
  left: 0;
  background-color: #fe1;
}
h1 a:after, h2 a:after, h3 a:after, h4 a:after, h5 a:after, h6 a:after {
  background-color: none !important;
  display: none !important;
}
pre { overflow-x: scroll; font-size: 0.75em; }
pre, code { background: #ffee11; background: #ffee1199; }
pre code { background: none; }
code { word-break: break-all; }
pre ::selection { color: white; background: #000; }



/* https://type-scale.com/ */
h1, h2,h3,h4,h5 { font-weight: 700; margin-top: 1em; }
h1 {font-size: 1.802em;}
h2 {font-size: 1.602em;}
h3 {font-size: 1.424em;}
h4 {font-size: 1.266em;}
h5 {font-size: 1.125em;}
small, .text_small {font-size: 0.889em;}
a { font-weight: bold }
blockquote { padding: 0.5em 0.125em; font-size: 1.1em; font-style: italic; }
blockquote p { margin: 0; }

.bg { background: #fe1 }
.light { opacity: 0.5; }
.light:hover { opacity: 1; }
.tar {text-align: right;}
.tdn {text-decoration: none;}
.bg-white {
  background: white;
  color: #333;
}

h1,h2,h3,h4,h5 { scroll-margin-top: 10rem; }

a.twitter-share-button {
  position: relative;
  box-sizing: border-box;
  padding: 1px 8px 1px 6px;
  background-color: #1b95e0;
  color: #fff;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
  font-size: 0.8em;
  padding: 0.7em 0.7em;
  text-decoration: none;
}
.twitter-share-button.big {
  width: 100%;
  height: inherit;
  line-height: 2.5;
  display: block;
  font-size: 1.3em;
  text-align: center;
}




blockquote {
  padding: 0.2em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  padding-left: 2em;
  border: 0px solid #fe1;
  border-left-width: 6px;
  margin: 0;
}


.alert {
  background-color: #f6f6f6;
  padding: 1em 1em;
  text-align: center;
}
