html {
  font-size: 15px;
}
body { padding: 0.5em }

.contain { max-width: 50em; margin: 0 auto }
.logo { height: 1.5em; vertical-align: middle }
.nav-item:first-of-type { padding: 0.4em 0.8em 0.4em 0 }
.nav-item { padding: 0.4em 0.8em 0.4em }
.avatar-image { height: 6em }
.tar {text-align: right;}

body .mt { margin-top: 4em; }
body .mb { margin-bottom: 4em; }


a{display: inline-block;cursor:pointer;color:#ff2e2e;text-decoration:none;border-bottom:1px solid #ff2e2e}
a:hover, a:focus, a:active{background-color:#ff2e2e!important;color:#fff!important}

/*
.ellipsis {
  max-width: 45em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
*/

.cf { text-align: center; padding: 1em; }
@media all and (max-width: 45em) {
  .no-mobile { display: none !important; }
}
@media all and (min-width: 45em) {
  .only-mobile { display: none !important; }
}
input {
  box-sizing: border-box;
}


main img { box-shadow: 0.1em 0.1em 0.7em 0px rgba(50, 50, 50, 0.3); }
main img { text-align: center; max-width: 100%; }
.no-shadow { box-shadow: none; }


.space {
  margin-top: 2em !important;
  margin-bottom: 2em !important;
  padding: 2em;
}

.post-date {
  opacity: 0.8;
  color: black;
}
.post:hover .post-date, .post:active .post-date {
  opacity: 1;
  color: inherit;
}
.post {
  max-width: 100%;
}
.post-link {
  max-width: 40em;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

@media all and (max-width: 50em) {
  .post-date { display: block }
  .post-link { max-width: 100% }
}


.featured {
  min-height: 10em;
  background-size: cover;
}
.featured div {
  color: #333; 
  background-color: white;
}

.subscribe-slidein {
  position: fixed;
  bottom: 0em;
  right: 0em;
  background-color: #f7f7fd;
  padding: 1em;
  max-width: 35em;
  box-shadow: -2px -2px 10px 0px #dedede;
}
.embeddable-buttondown-form-slim * {
  font-size: 1rem;
}
@media all and (max-width: 40em) {
  .subscribe-slidein {
    max-width: 100%;
  }
}

button {
  display: inline-block;
  padding: 0.3em;
  outline: none;
  border: 1px solid #333;
  background: none;
}

.footnotes-list {
  overflow: hidden;
}

#current-visitors-container {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.75em 1em;
  opacity: 0.3;
  font-size: 0.9em;
}

#current-visitors-container:hover {
  opacity: 1;
}
iframe {
  max-width: 100%;
}