<div class="space tal" style="max-width: 40em; border: 1px solid lightgrey; border-radius: 0.5em; margin: 0 auto;">
  <h1 class="no-anchor">ThreadBuilder - Schedule &middot; Automate &middot; Schedule Threads</h1>
  <a href="https://www.producthunt.com/posts/threadbuilder-schedule-import-automate">View on ProductHunt</a>
  <div class="slideshow" style="display: flex; flex-wrap: nowrap; align-items: center; overflow: auto; ">
    <a href="https://www.producthunt.com/posts/threadbuilder-schedule-import-automate" style="flex: 0 0 auto;">
      <img src="/assets/images/threadbuilder-1.png" alt="/assets/images/threadbuilder-1.png" style="width: 30em; vertical-align: middle;">
    </a>
    <a href="https://www.producthunt.com/posts/threadbuilder-schedule-import-automate" style="flex: 0 0 auto;">
      <img src="/assets/images/threadbuilder-2.png" alt="/assets/images/threadbuilder-2.png" style="width: 30em; vertical-align: middle;">
    </a>
  </div>
</div>
